/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

  .nav-pills > li.active > a.skill-level-1 {
    background-color:#CCCCCC;
  } 
  .nav-pills > li.active > a.skill-level-2 {
    background-color:#2B669A;
  }     
  .nav-pills > li.active > a.skill-level-3 {
    background-color:#28A4C9;
  }    
  .nav-pills > li.active > a.skill-level-4 {
    background-color:#E38D13;
  }
  .nav-pills > li.active > a.skill-level-5 {
    background-color:#3E8F3E;
  }
  .skill-level-1 {
    color:#CCCCCC;
  } 
  .skill-level-2 {
    color:#2B669A;
  }     
  .skill-level-3 {
    color:#28A4C9;
  }    
  .skill-level-4 {
    color:#E38D13;
  }
  .skill-level-5 {
    color:#3E8F3E;
  }
  